.DS_Store
bin/*
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# binary when created in the project root with go build .
nomad-pack

# Test binary, built with `go test -c`
*.test

# Release binary output directory
/pkg/*

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Ignore generated OpenAPI docs
openapi/client/docs/

# Ignore act generated artifacts
act_*/

# Ignore output files
dist/

# assets download path when using bob CLI
.bob

# vscode settings
.vscode/
